
h1 {
    font-size: 26px;
    text-align: center; 
}

h2 {
    font-size: 22px;
    color: lightgray; 
}


.centered {
    text-align: center;
}


.right {
    text-align: right;
}


.roman-list {
    list-style-type: upper-roman;
}


table {
    width: 100%; 
}

th {
    text-align: center;
    font-variant: small-caps; 
    padding: 10px; 
}

td {
    padding: 10px; 
}

td:nth-child(1), 
td:nth-child(2) {
    text-align: left;
}

td:nth-child(3) {
    text-align: center; 
}


tbody tr:nth-child(even) {
    background-color: lightblue 
}


tbody tr:hover {
    background-color: #26182C; 
}


a {
    font-weight: bold;
    color: black;
    text-decoration: none;
}

a:hover {
    color: teal;
}
